<p-toast></p-toast>

<!-- Barra superior -->
  <div class="navbar-center">
    <span class="navbar-title">CoaScanner</span>
  </div>

<!-- Conteúdo principal -->
<div class="layout-content">
  <div class="upload-area">

    <!-- Upload -->
    <p-fileUpload
      #uploader
      mode="basic"
      name="files"
      customUpload="true"
      [chooseLabel]="'Enviar imagens'"
      accept="image/*"
      multiple="multiple"
      (onSelect)="onSelect($event, uploader)"
    ></p-fileUpload>

    <!-- Spinner -->
    <div *ngIf="loading" class="loading-spinner">
      <p-progressSpinner></p-progressSpinner>
    </div>

    <!-- Resultados -->
    <div *ngFor="let r of results; let i = index" class="result-card">
      <p-card>

        <div class="result-card-filename" *ngIf="r.arquivo">
          {{ r.arquivo }}
        </div>

        <input
          pInputText
          class="result-card-input"
          [(ngModel)]="r.texto"
          [disabled]="!r.editando"
          [ngClass]="{ 'result-card__input--error': r.erro }"
        />

        <div class="result-card-actions">
          <button
            pButton
            label="Copiar"
            icon="pi pi-copy"
            (click)="copy(i)"
          ></button>

          <button
            pButton
            [label]="r.editando ? 'Confirmar' : 'Editar'"
            (click)="editarOuConfirmar(i)"
          ></button>
        </div>

      </p-card>
    </div>

  </div>
</div>

